<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="/assets/Helping-Hand-Logo.png" height="50" class="d-inline-block align-top" alt="Helping Hand logo">
        Helping Hand
    </a>
    <form class="form-inline">
        <a href="/submit"><button class="btn btn-danger" type="button">Add a Service Organization</button></a>
    </form>
</nav>

<section id="food-results">
    <h2>Food Results</h2>
    {{#each hbsobj}}
    <div class="card">
        <div class="card-body">
            <h3>{{name}}</h3>
            <p>{{address}}</p>
            <p>{{city}}, {{state}} {{zip}}</p>
            <p>{{website}}</p>
            <p>{{phone_number}}</p>
        </div>
    </div>
    {{/each}}
</section>