<div class="card">
    <div class="card-body">
        <h3>Name: {{name}}</h3>
        <p>Address: {{address}}, {{city}}, {{state}} {{zip}}</p>
        <p>Website: {{website}}</p>
        <p>Phone: {{phone_number}}</p>
    </div>
</div>